@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #81a69b;
    background-image: url(http://pets-images.dev-apis.com/pets/wallpaperC.jpg);
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* src/index.css */
